.note-cols {
    display: flex;
    gap: 15px;
    padding: 10px;
    min-width: 400px;
}

.note-col {
    flex: 1;
    font-size: 0.85em;
    border-right: 1px solid #ddd;
    padding-right: 10px;
}

.note-col:last-child { /*tweak for 'BASE' column, looks nicer*/
    border-right: none;
}

.note-col strong { /*notes are labeled as strong; formats them*/
    color: #444;
    text-transform: uppercase;
    font-size: 0.75em;
    display: block;
    margin-bottom: 5px;
} /* ^ all of these are used in app.js*/

.action-buttons {
    margin-left: 10px;
    display: none; /*hidden by default */
    gap: 5px;
    flex-wrap: nowrap;
}

.action-buttons button {
    font-size: 0.8em;
    padding: 2px 8px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #999;
}

#perfume-table {
    border-collapse: collapse;
    width: 100%;
}

#perfume-table th,
#perfume-table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

#perfume-table th {
    background-color: #f8f8f8; /*header color*/
}

#perfume-table th:last-child, /*fictive column*/
#perfume-table td:last-child {
    border: none;
    background-color: transparent;
}

.selected-row {
    background-color: #FFD8E5 !important;
}

.match-card {
    background: #FFD8E5;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
}
h1 {
    color: #E0588D;
}